<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Products Gallary</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-thumbnail item-left>
        <img src="assets/images/1.png">
      </ion-thumbnail>
      <h2>Chosmetics</h2>
      <p>Hayao Miyazaki • Rs 1988</p>
      <button ion-button clear item-right>View</button>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-left>
        <img src="assets/images/2.png">
      </ion-thumbnail>
      <h2>Home Applinces</h2>
      <p>Hayao Miyazaki • Rs 1988</p>
      <button ion-button clear item-right>View</button>
    </ion-item>
  </ion-list>
</ion-content>